---
http_interactions:
- request:
    method: post
    uri: https://api.mailerlite.com/api/v2/groups
    body:
      encoding: UTF-8
      string: '{"name":"platform-test-challenge"}'
    headers:
      Content-Type:
      - application/json
      X-Mailerlite-Apikey:
      - d09c7d60db0523b0407bdbfa80a5294e
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '2022-09-04T11:36:20+00:00'
      X-Ratelimit-Retry-After:
      - '60'
    body:
      encoding: UTF-8
      string: '{"id":111519867,"name":"platform-test-challenge","total":0,"active":0,"unsubscribed":0,"bounced":0,"unconfirmed":0,"junk":0,"sent":0,"opened":0,"clicked":0,"parent_id":0,"date_created":"2022-09-04
        14:35:20","date_updated":"2022-09-04 14:35:20"}'
  recorded_at: Sun, 04 Sep 2022 11:35:20 GMT
recorded_with: VCR 6.1.0
