---
http_interactions:
- request:
    method: post
    uri: https://api.mailerlite.com/api/v2/groups/111519893/subscribers
    body:
      encoding: UTF-8
      string: '{"email":"vladyslav.shut@gmail.com"}'
    headers:
      Content-Type:
      - application/json
      X-Mailerlite-Apikey:
      - b43e3ec77e03569fe071cf2cfe0b17b6
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '2022-09-06T10:45:10+00:00'
      X-Ratelimit-Retry-After:
      - '60'
    body:
      encoding: UTF-8
      string: '{"error":{"code":400,"message":"Subscriber type is unsubscribed"}}'
  recorded_at: Tue, 06 Sep 2022 10:44:10 GMT
recorded_with: VCR 6.1.0
