---
http_interactions:
- request:
    method: post
    uri: https://api.mailerlite.com/api/v2/groups/111519893/subscribers
    body:
      encoding: UTF-8
      string: '{"email":"test-user-1@devchallenge.it"}'
    headers:
      Content-Type:
      - application/json
      X-Mailerlite-Apikey:
      - d09c7d60db0523b0407bdbfa80a5294e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '2022-09-04T12:12:11+00:00'
      X-Ratelimit-Retry-After:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1370929174537149040,"name":"Test User","email":"test-user-1@devchallenge.it","sent":0,"opened":0,"opened_rate":0,"clicked":0,"clicked_rate":0,"type":"active","country_id":null,"signup_ip":"","signup_timestamp":"","confirmation_ip":"","confirmation_timestamp":"","fields":[{"key":"email","value":"test-user-1@devchallenge.it","type":"TEXT"},{"key":"name","value":"Test
        User","type":"TEXT"},{"key":"last_name","value":"","type":"TEXT"},{"key":"company","value":"","type":"TEXT"},{"key":"country","value":"","type":"TEXT"},{"key":"city","value":"","type":"TEXT"},{"key":"phone","value":"","type":"TEXT"},{"key":"state","value":"","type":"TEXT"},{"key":"zip","value":"","type":"TEXT"},{"key":"kinoklub_pidbirka_filmiv_na_e_mail","value":"","type":"TEXT"},{"key":"question","value":"","type":"TEXT"},{"key":"mobile_notifications","value":"","type":"TEXT"},{"key":"season","value":"","type":"TEXT"},{"key":"expectations","value":"","type":"TEXT"},{"key":"sended_halffinale_task","value":"","type":"TEXT"},{"key":"category","value":"","type":"TEXT"},{"key":"stage","value":"","type":"TEXT"},{"key":"direction","value":"","type":"TEXT"},{"key":"nomination","value":"","type":"TEXT"},{"key":"db_user_id","value":"","type":"NUMBER"},{"key":"nomination1","value":"","type":"TEXT"},{"key":"nomination11","value":"","type":"TEXT"},{"key":"job_title","value":"","type":"TEXT"},{"key":"birth_date","value":"","type":"DATE"},{"key":"discount","value":"","type":"TEXT"},{"key":"payed","value":"","type":"NUMBER"}],"webform_subscribe_date":null,"date_subscribe":null,"date_unsubscribe":null,"date_created":"2022-09-04
        09:31:32","date_updated":"2022-09-04 12:11:11","user_agent":null}'
  recorded_at: Sun, 04 Sep 2022 12:11:11 GMT
recorded_with: VCR 6.1.0
