<div class="bg-white border my-3 shadow-sm rounded-md p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] mb-3">
  <h1 class="<%= UI::H1 %>">
    Welcome to the personal account of the DEV Challenge XIX.
  </h1>

  <p class="my-5">
  Here you will find a guide for working with a personal account. Please read carefully the mechanics of selecting tasks and nominations.
  </p>

  <p class="my-5">
    Each participant must pass the Qualification stage, which lasts from September 11 to September 28. Upon successful completion of the Qualification, you will be immediately transferred to the Online Round stage. Participants who participated in previous seasons will be transferred to the next stage Online Round.
  </p>

  <p class="my-5">
    The Judges also choose the nomination and tasks that will be evaluated similarly to the participants. After choosing a nomination and a task, the Judge's account will provide an opportunity to see the list of tasks for review and evaluate the works according to the grading scale.
  </p>

  <p class="my-5">
  On the right, you can see a list of all tasks that are planned for this season of the Championship. To take the task correctly, choose the nomination in which you want to compete, you can do this using the filter on the right. Please note that a participant can choose only one nomination. All timings and deadlines are defined and reflected in each task.
  </p>

  <p class="my-5">
    To connect with the organizers, judges, and other participants, join the <a href="https://devchallengehq.slack.com" class="<%= UI::LINK %>">Slack WorkSpace</a>.
  <p>
</div>
