---
http_interactions:
- request:
    method: post
    uri: https://events.sendpulse.com/events/id/c01e7fbb28704dbc93e3491d06534d71/8623852
    body:
      encoding: UTF-8
      string: '{"email":"tester@devchallenge.it","phone":"","name":"Test User","challenge":"Test Challenge"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":true}'
  recorded_at: Tue, 07 Jan 2026 12:00:00 GMT
recorded_with: VCR 6.1.0
